#wrap
  .content
    .main-content
      %h1 保育ホームの一覧
      %section#city
        %h2.prefecture 一宮市
        %ul.clearfix
          %li 
            %article.card
              .card__home-price ¥1,200/h
              = image_tag 'kindergarten.jpeg', alt: '保育室1', class: 'hoikumama'
              %p 保育園では、１２年働いていました 保育園では、特に乳児が好きです。夜のお迎え時間の多少の相談可能です。ああああああああああああああああああああああああああああああああああああああああああああああおおおおおお
              .card__home-link
                =link_to "contact","#",class: "card__home-link--contact"
                =link_to "about","#",class: "card__home-link--about"
          %li 
            %article.card
              .card__home-price ¥1,200/h
              = image_tag 'play-children.jpeg', alt: '保育室1', class: 'hoikumama'
              %p 保育園では、１２年働いていました 保育園では、特に乳児が好きです。夜のお迎え時間の多少の相談可能です。
              .card__home-link
                =link_to "contact","#"
                =link_to "about","#"
          %li 
            %article.card
              .card__home-price ¥1,200/h
              = image_tag 'kindergarten.jpeg', alt: '保育室1', class: 'hoikumama'
              %p 保育園では、１２年働いていました 保育園では、特に乳児が好きです。夜のお迎え時間の多少の相談可能です。
              .card__home-link
                =link_to "contact","#"
                =link_to "about","#"
          %li 
            %article.card
              .card__home-price ¥1,200/h
              = image_tag 'play-children.jpeg', alt: '保育室1', class: 'hoikumama'
              %p 保育園では、１２年働いていました 保育園では、特に乳児が好きです。夜のお迎え時間の多少の相談可能です。
              .card__home-link
                =link_to "contact","#"
                =link_to "about","#"
          %li 
            %article.card
              .card__home-price ¥1,200/h
              = image_tag 'kindergarten.jpeg', alt: '保育室1', class: 'hoikumama'
              %p 保育園では、１２年働いていました 保育園では、特に乳児が好きです。夜のお迎え時間の多少の相談可能です。
              .card__home-link
                =link_to "contact","#"
                =link_to "about","#"
          %li 
            %article.card
              .card__home-price ¥1,200/h
              = image_tag 'play-children.jpeg', alt: '保育室1', class: 'hoikumama'
              %p 保育園では、１２年働いていました 保育園では、特に乳児が好きです。夜のお迎え時間の多少の相談可能です。
              .card__home-link
                =link_to "contact","#"
                =link_to "about","#"
          %li 
            %article.card
              .card__home-price ¥1,200/h
              = image_tag 'kindergarten.jpeg', alt: '保育室1', class: 'hoikumama'
              %p 保育園では、１２年働いていました 保育園では、特に乳児が好きです。夜のお迎え時間の多少の相談可能です。
              .card__home-link
                =link_to "contact","#"
                =link_to "about","#"
          %li 
            %article.card
              .card__home-price ¥1,200/h
              = image_tag 'play-children.jpeg', alt: '保育室1', class: 'hoikumama'
              %p 保育園では、１２年働いていました 保育園では、特に乳児が好きです。夜のお迎え時間の多少の相談可能です。
              .card__home-link
                =link_to "contact","#"
                =link_to "about","#"
          %li 
            %article.card
              .card__home-price ¥1,200/h
              = image_tag 'kindergarten.jpeg', alt: '保育室1', class: 'hoikumama'
              %p 保育園では、１２年働いていました 保育園では、特に乳児が好きです。夜のお迎え時間の多少の相談可能です。
              .card__home-link
                =link_to "contact","#"
                =link_to "about","#"

                -# <a href="https://pixabay.com/ja/users/EME-240202/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=421623">Esther Merbt</a>による<a href="https://pixabay.com/ja/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=421623">Pixabay</a>からの画像
                -# <a href="https://pixabay.com/ja/users/suju-165106/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3792914">Susanne Jutzeler, suju-foto</a>による<a href="https://pixabay.com/ja/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3792914">Pixabay</a>からの画像
                -# <a href="https://pixabay.com/ja/users/mufidpwt-519589/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=857963">Mufid Majnun</a>による<a href="https://pixabay.com/ja/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=857963">Pixabay</a>からの画像