#wrap
  .content
    .main-content
      %h1 保育ホームの一覧
      %section#city
        %h2.prefecture 一宮市
        %ul.clearfix
          %li 
            %article.card
              .card__home-price ¥1,200/h
              = image_tag('/images/kindergarden.jpg', alt: '保育室1', class: 'hoikumama')
              %p 長文
              .card__home-link
                =link_to "contact","#",class: "card__home-link--contact"
                =link_to "about","#",class: "card__home-link--about"
          %li 
            %article.card
              .card__home-price ¥1,200/h
              = image_tag('/images/kindergarden.jpg', alt: '保育室1', class: 'hoikumama')
              %p 長文
              .card__home-link
                =link_to "contact","#"
                =link_to "about","#"
          %li 
            %article.card
              .card__home-price ¥1,200/h
              = image_tag('/images/kindergarden.jpg', alt: '保育室1', class: 'hoikumama')
              %p 長文
              .card__home-link
                =link_to "contact","#"
                =link_to "about","#"
          %li 
            %article.card
              .card__home-price ¥1,200/h
              = image_tag('/images/kindergarden.jpg', alt: '保育室1', class: 'hoikumama')
              %p 長文
              .card__home-link
                =link_to "contact","#"
                =link_to "about","#"
          %li 
            %article.card
              .card__home-price ¥1,200/h
              = image_tag('/images/kindergarden.jpg', alt: '保育室1', class: 'hoikumama')
              %p 長文
              %p 保育園では、１２年働いていました 保育園では、特に乳児が好きです。夜のお迎え時間の多少の相談可能です。
              .card__home-link
                =link_to "contact","#"
                =link_to "about","#"
          %li 
            %article.card
              .card__home-price ¥1,200/h
              = image_tag('/images/kindergarden.jpg', alt: '保育室1', class: 'hoikumama')
              %p 長文
              .card__home-link
                =link_to "contact","#"
                =link_to "about","#"
          %li 
            %article.card
              .card__home-price ¥1,200/h
              = image_tag('/images/kindergarden.jpg', alt: '保育室1', class: 'hoikumama')
              %p 長文
              .card__home-link
                =link_to "contact","#"
                =link_to "about","#"
          %li 
            %article.card
              .card__home-price ¥1,200/h
              = image_tag('/images/kindergarden.jpg', alt: '保育室1', class: 'hoikumama')
              %p 長文
              .card__home-link
                =link_to "contact","#"
                =link_to "about","#"
          %li 
            %article.card
              .card__home-price ¥1,200/h
              = image_tag('/images/kindergarden.jpg', alt: '保育室1', class: 'hoikumama')
              %p 長文
              .card__home-link
                =link_to "contact","#"
                =link_to "about","#"

