!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RescueParenting
    %link{:href => "https://fonts.googleapis.com/css?family=Bitter:700|Kalam:400,700|Caveat|Big+Shoulders+Display:400,700|Blinker|Fahkwang|M+PLUS+1p:100,400,700&display=swap|Permanent+Marker&display=swap", :rel => "stylesheet"}/
    -# %link{:href => "https://fonts.googleapis.com/css?family=                                                                                  Permanent+Marker&display=swap", :rel => "stylesheet"}/
    -# %link{:href => "https://fonts.googleapis.com/css?family=Caveat|M+PLUS+1p|Permanent+Marker&display=swap", :rel => "stylesheet"}/

    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    = yield
